body{
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Montserrat', sans-serif;
}
                                    /* HEADER */
header{
    width: 100%;
    height: 100vh;
    background: url(../images/Group1.png) center no-repeat;
    background-size: cover;
}
.navbar{
    width: 100%;
}
header .express{
    margin-left: 925px;
    margin-top: 15px;
}
header .express img{
    width: 45px;
    margin-right: 10px;
    display: inline-block;
}
header .express h6{
    font-size: 18px;
    font-weight: 700;
    color: #42200B;
    letter-spacing: 1px;
    display: inline-block;
}
.navbar .navbar-collapse{
    margin-top: 15px;
}
.navbar .navbar-collapse .nav-link{
    margin-left: 30px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Bebas Neue', cursive;
    color: #42200B;
    letter-spacing: 4px;
}
.header-text{
    width: 100%;
    margin-top: 4cm;
    margin-bottom: 2cm;
}
.header-text h5{
    display: inline-block;
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #42200B;
    border: 3px dashed #42200B;
    padding: 9px 16px 5px 16px;
}
.header-text h1{
    font-family: 'Alfa Slab One', cursive;
    font-size: 125px;
    font-weight: 600;
    color: #42200B;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: 3px 5px #f7f7f7
}
.header-text h2{
    font-family: 'Alfa Slab One', cursive;
    font-size: 65px;
    font-weight: 600;
    color: #42200B;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 3px #f7f7f7
}
                                            /*image-section*/
.image-section{
    width: 100%;
    margin: 50px 40px 70px 40px;
}
.image-section .img3{
    margin-top: 35px;
}
                                            /*feature-section*/
.feature-section{
    width: 100%;
}
.feature-section .feature-head h4{
    font-size: 28px;
    font-weight: 400;
    color: #42200B;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    background-color: #FFC135;
    display: inline-block;
    padding: 13px 15px 8px 15px;
    margin-bottom: 1cm;
}
.feature-section .feature-head h3{
    font-family: 'Alfa Slab One', cursive;
    color: #42200B;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 1cm;
}
.feature-section .feature-head p{
    font-size: 18px;
    line-height: 32px;
    color: #42200B;
    margin-bottom: 45px;
}
.feature-section .card{
    border: none;
    width: 87%;
}
.feature-section .card h3{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    font-weight: 400;
    color: #42200B;
    letter-spacing: 1px;
}
.feature-section .card p{
    font-size: 18px;
    line-height: 32px;
    color: #42200B;
    margin-bottom: 30px;
}
.feature-section .card .img2{
    width: 87%;
    margin-left: 32px;
    margin-bottom: 12px;
}
.feature-section .card .card-body .btn{
    font-family: 'Alfa Slab One', cursive;
    font-size: 21px;
    font-weight: 500;
    color: #f7f7f7;
    background-color: #DF1C1C;
    border: 2px solid #DF1C1C;
    padding: 10px 28px 10px 28px;
    border-radius: 0%;
    letter-spacing: 1px;
    transition: 0.5s;
}
.feature-section .card .card-body .btn:hover{
    color: #DF1C1C;
    border: 2px solid #DF1C1C;
    background-color: #f7f7f7;
}
                                        /* UPCOMING EVENTS SECTION */
.events{
    width: 100%;
    margin: 60px 0px 0px 0px;
}
.events .box{
    box-shadow: 15px 16px 10px #999999;;
}
.events .box .item h3{
    padding: 45px 0px 5px 30px;
    font-size: 40px;
    font-weight: 400;
    color: #3A3A3A;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.events .box .item h2{
    padding-left: 25px;
    font-family: 'Alfa Slab One', cursive;
    color: #42200B;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 1.33cm;
}
.events .box .item p{
    font-size: 17px;
    padding-left: 30px;
    letter-spacing: 1px;
    line-height: 32px;
    color: #42200B;
}
.events .box .item img{
    padding: 20px 20px;
}
                                        /* RESERVATION SECTION */
.reservation{
    width: 100%;
    margin: 3cm 0px 0px 0px;
}
.reservation .text h3{
    font-size: 40px;
    font-weight: 400;
    color: #42200B;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.reservation .text h2{
    font-family: 'Alfa Slab One', cursive;
    color: #42200B;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 2cm;
}
.reservation .reservation-form{
    width: 100%;
}
.reservation .reservation-form .form-control{
    margin: 0px 0px 22px 0px;
    font-size: 20px;
    font-weight: 400;
    color: #42200B;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 18px 23px;
}
.reservation .reservation-form .btn{
    text-align: center;
    color: #f7f7f7;
    background-color: #DF1C1C;
    padding: 18px 134px;
    font-family: 'Alfa Slab One', cursive;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-left: 1px;
}
                                            /* FOOTER */
footer{
    width: 100%;
}
footer .last{
    width: 100%;
    background: url(../images/Designfooter.png) center top no-repeat;
    background-size: cover;
    margin-bottom: 2cm;
}
footer img{
    margin: 80px 0px 40px 40px;
}
footer p{
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: white;
    margin: 0px 40px;
}
footer .copyright p{
    margin-top: 4cm;
    margin-bottom: 26px;
    font-family: 'Bebas Neue', cursive;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 300;
}
footer .location{
    margin: 5cm 0px 0px 5cm;
}
footer .location i{
    color: #f7f7f7;
    font-size: 30px;
    margin: 15px 15px 0px 0px;
    width: -2px;
    text-align: center;
}
footer .location i p{
    display: inline-block;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 300;
}
footer .location .fa-map-marker{
    margin-left: 5px;
    font-size: 35px;
}
footer .location .fa-map-marker p{
    margin-left: 43px;
}
.last .social-media{
    width: 100%;
    display: block;
    text-align: center;
    margin: 170px 0px 0px 170px;
}
.last .social-media ul li{
    display: inline-block;
    list-style: none;
    margin-left: 15px;
}
.last .social-media ul li a{
    display: block;
    font-size: 22px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    color: black;
    background-color: white;
    transition: 0.75s;
}
.last .social-media ul li a:hover{
    color: white;
    background-color: black;
}